{% extends 'base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
<header class="landing d-flex">
<div class="container-fluid d-flex align-items-center justify-content-center">

	<div class="row d-flex justify-content-center text-center">

		<div class="col-md-12">

			<!-- Heading -->
			<h2 class="display-4 font-weight-bold mb-2" style="colour: white;">Goodbean</h2>

			<!-- Divider -->
			<hr class="hr-light">

			<!-- Description -->
			<h4 class="amber-text my-4">Premium Coffee Roasters</h4>
			<button type="button" class="btn btn-warning">Order Now</i></button>

		</div>

	</div>
</div>
</header>
{% endblock %}