{% extends 'base.html' %}
{% load static from staticfiles %}
{% load staticfiles %}
{% block content %}

<header class="landing d-flex">
<div class="container-fluid d-flex align-items-center justify-content-center">

	<div class="row d-flex justify-content-center text-center">

		<div class="col-md-12">

			<!-- Heading -->
			<h2 class="title mb-2">Goodbean</h2>

			<!-- Divider -->
			<hr>

			<!-- Description -->
			<h2 class="my-4">Premium Coffee Roasters</h2>
			<a href="{% url 'products' %}" class="buttonhome p-2">Order Now</a>

		</div>

	</div>
</div>
</header>
<div class="container-fluid">
	<div class="row my-5">
		<div class="offset-2 col-8 offset-md-4 col-md-4">
			<p class="text-center">We are coffee roasters, the best at what we do. We require equally complete knowledge and skills from our stakeholders. The result is an incredible synergy which creates the perfect blend of coffee, every time.</p>
		</div>
	</div>
	<div class="row my-5 d-flex justify-content-center">
		<img class="grouphead" src="{% static 'img/grouphead.jpg' %}" alt="coffee group head">
	</div>
    <div class="row my-5">
		<div class="offset-2 col-8 offset-md-4 col-md-4">
			<p class="text-center">Coffee is a ritual, a little pleasure in the morning, a pause, an energy, a perfect moment. Our values of unsurpassed quality, ethical supply and community reinvestment drive our mission to create that perfect moment, every time.</p>
		</div>
	</div>
    <div class="row my-5 d-flex justify-content-center">
			<img class="grouphead" src="{% static 'img/coffeepouring.jpg' %}" alt="mug with coffee">
	</div>
    <div class="row my-5">
		<div class="offset-2 col-8 offset-md-4 col-md-4">
			<p class="text-center">We currently range a selection of three superb products.  Through stringent quality control using an ethical supply chain and fair trade practice our premium partners are situated in Brazil, Ethiopia and Costa Rica.</p>
		</div>
	</div>
    <div class="row my-5">
		<div class="offset-2 col-8 offset-md-5 col-md-2">
			<ul class="list-group product-wrap">
                <li class="border-0 list-group-item text-center"><a class="footer-anchor text-dark font-weight-bold text-center" href="{% url 'about' %}"><span class="strike">Brazilian Blend</span></a></li>
                <li class=" border-0 list-group-item text-center"><a class="footer-anchor text-dark font-weight-bold text-center" href="{% url 'about' %}"><span class="strike">Ethiopian Blend</span></a></li>
                <li class=" border-0 list-group-item text-center"><a class="footer-anchor text-dark font-weight-bold text-center" href="{% url 'about' %}"><span class="strike">Costa Rican Blend</span></a></li>
            </ul>
		</div>
	</div>
</div>

<div class="homebase">
</div>
{% endblock %}
</html>
