{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}



<!-- Password Reset Screen -->

<section class="min-vh-75">
	<div class="row min-vh-100 align-items-center justify-content-center m-3">
		<div class="my-5 col-md-6 bordered rounded h-50 bg-dark">
			<div class="px-5 pt-2 justify-content-center">
				<h1 class="text-center text-uppercase subheading text-white">Reset Password</h1>
				<form method="post" class="accountform">
					<p class="text-white text-center">Please specify your email address to receive instructions for resetting it.</p>
					<br>
					<div style="display:none">
						<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
					{{ form.email.errors }}
                    <p class="text-white text-center text-uppercase">E-mail address:</p>
					<p class="text-white text-center"><label for="id_email" class="control-label required-field"></label>
					{{ form.email }}</p>
                    <p class="text-white text-center"><input class="btn btn-primary btn-warning" type="submit" value="Reset password" /></p>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}


