{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="jumbotron mb-0" id="aboutjumbo"></div>
<section class="bg-light">
    <div class="row" id="brazil">
      <div class="col-sm-4 mb-5 d-flex flex-column">
        <div class="container-fluid p-2 row">
          <div class="d-flex align-items-center justify-content-center" id="brazil-wrapper">
            <div class="brazil-wrapper d-flex align-items-center justify-content-center">
              <h3 class="text-white text-center text-uppercase">Brazil Blend</h3>
            </div>
          </div>
        </div>
        <div class="cardcontentwrapper container-fluid" id="brazilbg">
          <div class="row p-2">
            <p class="w-100 text-center p-5 aboutheader"><span class="bg-white py-3 px-2 text-uppercase">Origin - Pedra
                Branca</span>
            </p>
            <p class="container aboutfont text-white">This picteresque farm is Located centrally in the state of Ceara,
              east of the vast Brazilian
              country. The yellow bourbon variety is know for its sweetness and creates a smooth milk chocolate and
              hazelnut finish that tantalises the taste buds and is one of our favourites as a
              Mocha.</p>
          </div>
          <div class="row p-2">
            <div class=" col-6">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Owner</span></p>
              <p class="text-white text-center aboutfont">Ronaldo Pele</p>
            </div>
            <div class="col-6 aboutheader">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Specialty
                  Score</span></p>
              <p class="text-white text-center aboutfont">84.5</p>
            </div>
          </div>
          <div class="row p-2">
            <div class="aboutheader col-6">
              <p class="text-center aboutfont text-white"><span class="border-bottom border-white">Variety</span></p>
              <p class="text-center aboutfont text-white">Yellow Bourbon</p>
            </div>
            <div class=" col-6">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Farm Height</span>
              </p>
              <p class="text-white text-center aboutfont">900-1200 masl</p>
            </div>

          </div>

        </div>
        <a href="{% url 'reviewhome' %}" class="btn btn-lg btn-block btn-warning buynow text-uppercase">See Reviews</a>
      </div>
      <div class="col-sm-4 mb-5">
        <div class="container-fluid p-2 row">
          <div class="d-flex align-items-center justify-content-center" id="ethiopia-wrapper">
            <div class="ethiopia-wrapper d-flex align-items-center justify-content-center">
              <h3 class="text-white text-center text-uppercase">Ethiopia Blend</h3>
            </div>
          </div>
        </div>
        <div class="cardcontentwrapper container-fluid" id="ethiopiabg">
          <div class="row p-2">
            <p class="w-100 text-center p-5 aboutheader"><span class="bg-white py-3 px-2 text-uppercase">Origin - Tefera
                Kebede</span>
            </p>
            <p class="container aboutfont text-white">Nestled in the southern region of Sidamo in the Ethopian highlands
              the beans from this farm are strictly high grown. The slower growth allows for a distinctive flavour. The
              result is an apricot, tamarind and sparkling
              acidic flavour note. Tastes great as a long strong black.</p>
          </div>
          <div class="row p-2">
            <div class=" col-6">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Owner</span></p>
              <p class="text-white text-center aboutfont">Abebe Bikila</p>
            </div>
            <div class="col-6 aboutheader">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Specialty
                  Score</span></p>
              <p class="text-white text-center aboutfont">88</p>
            </div>
          </div>
          <div class="row p-2">
            <div class="aboutheader col-6">
              <p class="text-center aboutfont text-white"><span class="border-bottom border-white">Variety</span></p>
              <p class="text-center aboutfont text-white">Longberry</p>
            </div>
            <div class=" col-6">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Farm Height</span>
              </p>
              <p class="text-white text-center aboutfont">2000 masl</p>
            </div>
          </div>
        </div>
        <a href="{% url 'reviewhome' %}" class="btn btn-lg btn-block btn-warning buynow text-uppercase">See Reviews</a>
      </div>
      <div class="col-sm-4 mb-5">
        <div class="container-fluid p-2 row">
          <div class="d-flex align-items-center justify-content-center" id="costa-wrapper">
            <div class="costa-wrapper d-flex align-items-center justify-content-center">
              <h3 class="text-white text-center text-uppercase">Costa Rica Blend</h3>
            </div>
          </div>
        </div>
        <div class="cardcontentwrapper container-fluid" id="costabg">
          <div class="row p-2">
            <p class="w-100 text-center p-5 aboutheader"><span class="bg-white py-3 px-2 text-uppercase">Origin - Los
                Titos</span>
            </p>
            <p class="container aboutfont text-white">This proudly organic farm located in the beautiful Turrialba
              region of Costa Rica produces a high quality arabican bean. The scenic 240 hectare farm creates a flavour
              with blueberries tanagerine with a bright red currant acidity. Great to have as espresso or cold brewed.</p>
          </div>
          <div class="row p-2">
            <div class=" col-6">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Owner</span></p>
              <p class="text-white text-center aboutfont">Titos Family</p>
            </div>
            <div class="col-6 aboutheader">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Specialty
                  Score</span></p>
              <p class="text-white text-center aboutfont">86</p>
            </div>
          </div>
          <div class="row p-2">
            <div class="aboutheader col-6">
              <p class="text-center aboutfont text-white"><span class="border-bottom border-white">Variety</span></p>
              <p class="text-center aboutfont text-white">Caturra</p>
            </div>
            <div class=" col-6">
              <p class="text-white text-center aboutfont"><span class="border-bottom border-white">Farm Height</span>
              </p>
              <p class="text-white text-center aboutfont">1300-1500 masl</p>
            </div>
          </div>
        </div>
        <a href="{% url 'reviewhome' %}" class="btn btn-lg btn-block btn-warning buynow text-uppercase">See Reviews</a>
      </div>
    </div>
    <div class="jumbotron mb-0" id="aboutjumbo"></div>
</section>

{% endblock %}