{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<!-- Parallax scrolling -->
<div class="mb-0 jumbotron productlanding"></div>

<!-- Products Section -->
<section class="bg-light">
	<div class="py-5 bg-none d-flex flex-column justify-content-center">
		<div class="row pb-3">
        <!-- This slice method was referenced from Lukasz Suaresz project https://github.com/Code-Institute-Submissions/django-tech-ecommerce-app/blob/master/products/templates/products.html -->
            {% for product in products|slice:":1" %}
			<div class="col-lg-4 text-center">
				<div class="border-dark bordered">
					
					<div class="panel-body border-0">
						<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
						</div>

						<h3>{{ product.name }}</h3>
						<p class="product-description">{{ product.description }}</p>
						<p class="font-weight-bold">€{{ product.price }}</p>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-secondary active">
						        <input type="radio" name="options" id="option1" checked>Strong
						    </label>
							<label class="btn btn-secondary">
						        <input type="radio" name="options" id="option2">Medium
						    </label>
							<label class="btn btn-secondary">
						        <input type="radio" name="options" id="option3">Mild
						    </label>
						</div>
						<div class="d-flex justify-content-center">
							<form class="col-md-5 mt-3 text-center" method="post"
								action="{% url 'add_to_cart' product.id %}">
								{% csrf_token %}
								<div class="input-group">
									<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
									<span class="input-group-btn">
									<button class="btn btn-secondary bg-dark" type="submit">Add</button>
									</span>
								</div>
							</form>
						</div>
						<div class="d-flex justify-content-center my-3">
							<a href="{% url 'view_cart' %}"
								class="col-md-5 btn buynow rounded-pill py-2 font-weight-bold">View
								Cart</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
            <!-- This slice method was referenced from Lukasz Suaresz project https://github.com/Code-Institute-Submissions/django-tech-ecommerce-app/blob/master/products/templates/products.html -->
            {% for product in products|slice:"1:2" %}
			<div class="col-lg-4 text-center">
				<div class="border-dark bordered">
					
					<div class="panel-body border-0">
						<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
						</div>

						<h3>{{ product.name }}</h3>
						<p class="product-description">{{ product.description }}</p>
						<p class="font-weight-bold">€{{ product.price }}</p>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-secondary active">
						        <input type="radio" name="options" id="option1" checked>Strong
						    </label>
							<label class="btn btn-secondary">
						        <input type="radio" name="options" id="option2">Medium
						    </label>
							<label class="btn btn-secondary">
						        <input type="radio" name="options" id="option3">Mild
						    </label>
						</div>
						<div class="d-flex justify-content-center">
							<form class="col-md-5 mt-3 text-center" method="post"
								action="{% url 'add_to_cart' product.id %}">
								{% csrf_token %}
								<div class="input-group">
									<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
									<span class="input-group-btn">
								<button class="btn btn-secondary bg-dark" type="submit">Add</button>
								</span>
								</div>
							</form>
						</div>
						<div class="d-flex justify-content-center my-3">
							<a href="{% url 'view_cart' %}"
								class="col-md-5 btn buynow rounded-pill py-2 font-weight-bold">View
								Cart</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
            <!-- This slice method was referenced from Lukasz Suaresz project https://github.com/Code-Institute-Submissions/django-tech-ecommerce-app/blob/master/products/templates/products.html -->
            {% for product in products|slice:"2:3" %}
			<div class="col-lg-4 text-center">
				<div class="border-dark bordered">
					
					<div class="panel-body border-0">
						<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
						</div>

						<h3>{{ product.name }}</h3>
						<p class="product-description">{{ product.description }}</p>
						<p class="font-weight-bold">€{{ product.price }}</p>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-secondary active">
						        <input type="radio" name="options" id="option1" checked>Strong
						    </label>
							<label class="btn btn-secondary">
						        <input type="radio" name="options" id="option2">Medium
						    </label>
							<label class="btn btn-secondary">
						        <input type="radio" name="options" id="option3">Mild
						    </label>
						</div>
						<div class="d-flex justify-content-center">
							<form class="col-md-5 mt-3 text-center" method="post"
								action="{% url 'add_to_cart' product.id %}">
								{% csrf_token %}
								<div class="input-group">
									<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
									<span class="input-group-btn">
								<button class="btn btn-secondary bg-dark" type="submit">Add</button>
								</span>
								</div>
							</form>
						</div>
						<div class="d-flex justify-content-center my-3">
							<a href="{% url 'view_cart' %}"
								class="col-md-5 btn buynow rounded-pill py-2 font-weight-bold">View
								Cart</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Parallax Scrolling -->

<div class="mb-0 jumbotron productlanding"></div>
{% endblock %}