{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="jumbotron productlanding">
</div>
<div class="d-flex flex-column justify-content-center">
	<div class="row">
		<div class="col-lg-4 text-center">
			<div class="border-dark bordered">
				<img
			              class="rounded-circle"
			              src="/static/img/green.png"
			              alt="Liberica Range"
			              width="140"
			              height="140"
			            />
				<h2>Liberica</h2>
				<div style="height: 150px">
					<p>
						Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
						eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
						amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris condimentum nibh.
					</p>
				</div>
				<p>
					<a class="btn btn-secondary bg-dark" href="#" role="button">More Info &raquo;</a>
				</p>
				{% for product in products|slice:":1" %}
				<div class="panel-body border-0">
					<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
					</div>
			
					<h3>{{ product.name }}</h3>
					<p class="product-description">{{ product.description }}</p>
					<p class="font-weight-bold">€{{ product.price }}</p>
                    <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1">Strong</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">Medium</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3">Mild</label>
					</div>
					<div class="d-flex justify-content-center">
						<form class="col-md-5 mt-3 text-center" method="post" action="{% url 'add_to_cart' product.id %}">
							{% csrf_token %}
							<div class="input-group">
								<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
								<span class="input-group-btn">
												<button class="btn btn-secondary bg-dark" type="submit">Add</button>
												</span>
							</div>
						</form>
					</div>
                    <div class="d-flex justify-content-center my-3">
						<a href="{% url 'view_cart' %}" class="col-md-5 btn btn-success rounded-pill py-2 font-weight-bold">View
						Cart</a>
					</div>
				</div>
			</div>
		    {% endfor %}
		</div>
		
		<div class="col-lg-4 text-center">
			<div class="border-dark bordered">
				<img
			              class="rounded-circle"
			              src="/static/img/yellow.png"
			              alt="Arabica Range"
			              width="140"
			              height="140"
			            />
				<h2>Arabica</h2>
				<div style="height: 150px">
					<p>
						Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
						eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
						amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris condimentum nibh.
					</p>
				</div>
				<p>
					<a class="btn btn-secondary bg-dark" href="#" role="button">More Info &raquo;</a>
				</p>
				{% for product in products|slice:"1:2" %}
				<div class="panel-body border-0">
					<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
					</div>
			
					<h3>{{ product.name }}</h3>
					<p class="product-description">{{ product.description }}</p>
					<p class="font-weight-bold">€{{ product.price }}</p>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1">Strong</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">Medium</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3">Mild</label>
					</div>
					<div class="d-flex justify-content-center">
						<form class="col-md-5 mt-3 text-center" method="post" action="{% url 'add_to_cart' product.id %}">
							{% csrf_token %}
							<div class="input-group">
								<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
								<span class="input-group-btn">
								<button class="btn btn-secondary bg-dark" type="submit">Add</button>
								</span>
							</div>
						</form>
					</div>
					<div class="d-flex justify-content-center my-3">
						<a href="{% url 'view_cart' %}" class="col-md-5 btn btn-warning rounded-pill py-2 font-weight-bold">View
							Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="col-lg-4 text-center">
			<div class="border-dark bordered">
				<img
			              class="rounded-circle"
			              src="/static/img/red.png"
			              alt="Generic placeholder image"
			              width="140"
			              height="140"
			            />
				<h2>Robusta</h2>
				<div style="height: 150px">
					<p>
						Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
						eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
						amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
						mauris condimentum nibh.
					</p>
				</div>
				<p>
					<a class="btn btn-secondary bg-dark" href="#" role="button">More Info &raquo;</a>
				</p>
				{% for product in products|slice:"2:3" %}
				<div class="panel-body border-0">
					<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
					</div>
			
					<h3>{{ product.name }}</h3>
					<p class="product-description">{{ product.description }}</p>
					<p class="font-weight-bold">€{{ product.price }}</p>
                    <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1">Strong</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">Medium</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3">Mild</label>
					</div>			
					<div class="d-flex justify-content-center">
						<form class="col-md-5 mt-3 text-center" method="post" action="{% url 'add_to_cart' product.id %}">
							{% csrf_token %}
							<div class="input-group">
								<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
								<span class="input-group-btn">
								<button class="btn btn-secondary bg-dark" type="submit">Add</button>
								</span>
							</div>
						</form>
					</div>
					<div class="d-flex justify-content-center my-3">
						<a href="{% url 'view_cart' %}" class="col-md-5 btn btn-danger rounded-pill py-2 font-weight-bold">View
							Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>	
	</div>
</div>
{% endblock %}