{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="mb-0 jumbotron productlanding">
</div>
{% for review in reviews|slice:":1"%}
<section class="bg-light">
	<div class="row justify-content-center">
		
        <div class="col-sm-4">
			<h1>{{ review.product }}</h1>
            <h1>{{ review.user }}</h2>
		</div>
       
	</div>
</section>
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'new_review' %}">New Review</a></li>
</ul>
 {% endfor %}
<div class="mb-0 jumbotron productlanding"></div>


{% endblock %}