{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<div class="mb-0 jumbotron productlanding">
</div>
<section class="bg-light">
	<div class="row justify-content-center">
		{% for product in products %}
        <div class="col-sm-4">
			<h1>{{ product.name }}</h1>
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
			</div>
		</div>
        {% endfor %}
	</div>
</section>
<div class="mb-0 jumbotron productlanding"></div>
{% endblock %}