/************************* Global **************************/

@import url('https://fonts.googleapis.com/css?family=Amaranth:700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row,
.container-fluid,
.container {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

.subheading {
    font-family: 'Amaranth', sans-serif;
    font-size: 3rem;
}

.fontstyle2 {
    color: black;
}

.fontstyle1 {
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 0.20rem;
}

/************************* Login Page **************************/

.cform {
    width: 100%;
} 

.loginbox {
    width: 25rem;
    height: 28rem;
}

#div_id_username, #div_id_password {
    color: white;
}

/************************* Registration Page **************************/

.regboxrow {
    min-width: 50%;
    margin: 8rem 0rem;
}

.regboxcol {
    height: 100%;
    min-width: 50%;
}

#div_id_password1, #div_id_password2 {
    color: white;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
}

.product2 {
    width: 70px;
    height: 70px;
    
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.product-description {
    min-height: 40px;
}

/************************* Home Page **************************/

.title {
    font-family: 'Amaranth', sans-serif;
    font-size: 5rem;
}


.landing {
    background: url("/static/img/wood.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

h2,h4 {
    color: white;
}



hr {
    background: white;
    height: 1px;
    border: none;
}

.homebase {
    background: url("/static/img/beanswithgrinder.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
}

.product-wrap {
    border: 8px solid black;
}

.grouphead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 19rem;

}

.buttonhome {
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 4px;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    -ms-transition: 0.25s ease-in;
    -moz-transition: 0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
}

.buttonhome:hover {
  color: white;
  background: #daa317;
  border: 2px #daa317 solid;
  text-decoration: none;
}

/* Below strikethrough animation referenced from https://codepen.io/tsimenis/pen/BKdENX */

.strike {
  position: relative;
  display: block;
  cursor: pointer;
}

.strike:before, .strike:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

.strike:before {
  left: -2.5px;
}
.strike:after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/************************* Products Page **************************/

.productlanding {
    background: url("/static/img/coffeewithbeans2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-attachment: fixed;
    height: 70%;
}



.productrow {
    position: relative;
    height: 90%;
    overflow: auto;
}

.productbg {
    cursor: pointer;
    background-color: #f8f9fa;
    transition: 0.08s ease-in;
}

.productbg:hover {
    background-color: #f3c85b;
}

.buttonproduct {
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #daa317;
    border: 2px #daa317 solid;
    border-radius: 4px;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    -ms-transition: 0.25s ease-in;
    -moz-transition: 0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
}

.buttonproduct:hover {
  color: white;
  background: #daa317;
  border: 2px #daa317 solid;
  text-decoration: none;
}
/****************************** About Page ******************************** */

#aboutjumbo {
  background: url("/static/img/landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70%;
  border-radius: 0;
  background-attachment: fixed;
}


#brazilbg {
  background: rgb(45, 101, 57, 0.8);
}

#ethiopiabg {
  background: rgba(144, 22, 22, 0.8);
}

#costabg {
  background: rgba(2, 17, 74, 0.8);
}


#costa-wrapper {
  width: 100%;
  height: 25rem;
  background: url("/static/img/costa-rica.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#brazil-wrapper {
  width: 100%;
  height: 25rem;
  background: url("/static/img/brazil-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

#ethiopia-wrapper {
  width: 100%;
  height: 25rem;
  background: url("/static/img/ethiopia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.brazil-wrapper {
  background: rgb(45, 101, 57, 0.8);
  width: 60%;
  height: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ethiopia-wrapper {
  background: rgba(144, 22, 22, 0.8);
  width: 60%;
  height: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.costa-wrapper {
  background: rgba(2, 17, 74, 0.8);
  width: 60%;
  height: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.buynow {
  border-radius: 0px 0px 10px 10px;
  background: #daa317;
  color: white;
  border: 2px #daa317 solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  -ms-transition: 0.25s ease-in;
  -moz-transition: 0.25s ease-in;
  -webkit-transition: 0.25s ease-in;
  border-top: none;
}

.buynow:hover {
    background: #d2a83d;
    border: 2px #d2a83d solid;
    color: wheat;
    text-decoration: none;
    border-top: none;
}

/************************* Checkout  **************************/

#payment-form {
    color: white;
}



/************************* Cart **************************/

.hed1 {
    color: white;
}

.bordered {
    background: white;
    padding: .5rem;
    box-shadow: 3px 3px 5px 1px #ccc;
}

/************************* Navbar **************************/

.gbnavlinks {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

/* change the background color */
.navbar-custom {
    background-color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: black; /* add background-color to active links */
}.navbar-custom {
    background-color: black;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: grey;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: black;
}
.navbar-custom .dropdown-item {
    color: white;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: grey;
    background-color:white;
}
.navbar {
    padding: 0.25rem 1rem;
}

/* Set the border color for Toggler and Toggler Icon*/ 
          
.custom-toggler.navbar-toggler {
    border-color: black;
}

/* Change the color in the stroke property of the image data */
.custom-toggler .navbar-toggler-icon {
    background-image: url("/static/img/whitehamburger.png");
}

/* Change padding around Toggler Icon */

.navbar-toggler {
    padding: 0px 0px;
}

/* Ensure size is correct for Toggler Icon design  */

.navbar-toggler-icon {
    background-size: auto;
}

/********************* Contact Page *************************/

#contactlanding {
    background: url("/static/img/coffee beans on table.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}

#div_id_last_name, #div_id_first_name, #div_id_email, #div_id_message {
    color: white;
}

#div_id_message div textarea {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#div_id_message {
    margin-bottom: 0px;
}



.contact {
    min-width: 100%;
    margin: 2rem;
    background: rgba(7, 13, 19, 0.8);   
}




/************************* Footer **************************/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}

.foottitle {
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 2.2rem;
}

.foottitle:hover {
    text-decoration: none;
    color: #332D2D;
}

.footer-anchor {
    color: white;
    list-style: none;
    text-decoration: none;
}

.footer-anchor:hover {
    text-decoration: none;
    color: grey;
}

#map {
    height: 8rem;
    width: 100%;
}

.social {
    text-align: center;
    list-style: none;
    padding: 25px 0;
}


.social a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 7px;
    text-align: center;
    color: #050505;
    border: none;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
}

.social a i:hover {
    background: #050505;
    color: #fff;
}


.footer {
  background-image: linear-gradient(#DAA317, #F6CC62);
}

.footer-wrap {
    background-color: black;
}
