/************************* Global **************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row,
.container-fluid,
.container {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}



.cform {
    width: 50%;
} 




.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
}

.product2 {
    width: 70px;
    height: 70px;
    
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.product-description {
    min-height: 40px;
}

/************************* Home Page **************************/

.landing {
    background: url("/static/img/wood.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

h2,h4 {
    color: white;
}

hr {
    background: white;
    height: 1px;
    border: none;
}

.homebase {
    background: url("/static/img/beanswithgrinder.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
}

.product-wrap {
    border: 8px solid black;
}

.grouphead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 19rem;

}

/* Below strikethrough animation referenced from https://codepen.io/tsimenis/pen/BKdENX */

.strike {
  position: relative;
  display: block;
  cursor: pointer;
}

.strike:before, .strike:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

.strike:before {
  left: -2.5px;
}
.strike:after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


/************************* Products Page **************************/

.productlanding {
    background: url("/static/img/coffewithbeans.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
}



/************************* Cart **************************/

.hed1 {
    color: white;
}

.bordered {
    border: 2px solid black;

}
/************************* Navbar **************************/




/************************* Footer **************************/

.footer-anchor {
    color: white;
    list-style: none;
    text-decoration: none;
}

.footer-anchor:hover {
    text-decoration: none;
    color: grey;
}

#map {
    height: 8rem;
    width: 100%;
}

.social {
    text-align: center;
    list-style: none;
    padding: 25px 0;
}


.social a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 7px;
    text-align: center;
    color: #343a40;
    border: none;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
}

.social a i:hover {
    background: #343a40;
    color: #fff;
}




/* Profile Page */

/* .avatar {
    max-height: 15rem;
} */


.profile-landing {
    width: 100vh;
    height: 100vh;

}

/* Media Queries */

/* @media only screen and (max-width: 800px) {
  .avatar {
    margin-top: 2rem;
  }
} */