/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row,
.container-fluid,
.container {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
  overflow-y: scroll;
}

.cform {
    width: 50%;
} 


footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 175px;
    height: 175px;
    margin: 0 auto;
}

.product2 {
    width: 70px;
    height: 70px;
    
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.product-description {
    min-height: 40px;
}

.jumbotron {
    background: url("/static/img/coffewithbeans.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
}

.landing {
    background: url("/static/img/wood.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

h2,h4 {
    color: white;
}

hr {
    background: white;
    height: 1px;
    border: none;
}


/* Keep Footer at bottom of page reference https://matthewjamestaylor.com/blog/bottom-footer-demo.htm 

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
} */
/* Navbar */




/* Cart */

.hed1 {
    color: white;
}

.bordered {
    border: 2px solid black;

}


/* Footer */

footer {
    background: #343a40;
}

.icon {
    list-style: none;
    color: white;
    text-decoration: none;

}

.icon:hover 
{
     color:grey; 
     text-decoration:none; 
     cursor:pointer;  
}

/* Profile Page */

/* .avatar {
    max-height: 15rem;
} */


.profile-landing {
    width: 100vh;
    height: 100vh;

}

/* Media Queries */

/* @media only screen and (max-width: 800px) {
  .avatar {
    margin-top: 2rem;
  }
} */