{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<section class="container-fluid bg-light">
	<div class="row p-4 d-flex justify-content-around">
		{% for item in cart_items|slice:":1" %}
		<div class="col-sm-3 mt-2 panel-body bordered text-center">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
			</div>
		
			<h3>{{ item.product.name }}</h3>
			<p class="product-description">{{ item.product.description }}</p>
			<p class="font-weight-bold">€{{ item.product.price }}</p>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary active">
					<input type="radio" name="options" id="option1" checked>Strong
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option2">Medium
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option3">Mild
				</label>
			</div>
            <div class="row pt-4 justify-content-center">
                <div class="col-3">
				    <p class="font-weight-bold text-dark text-uppercase">Total:</p>
                </div>
                <div class="col-3">
				    <p class="font-weight-bold text-dark"><span aria-hidden="true"></span>€{{ total }}</p>
                </div>
			</div>
        </div>
        {% endfor %}
        {% for item in cart_items|slice:"1:2" %}
		<div class="col-sm-3 mt-2 mx-1 panel-body bordered">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
			</div>
		
			<h3>{{ item.product.name }}</h3>
			<p class="product-description">{{ item.product.description }}</p>
			<p class="font-weight-bold">€{{ item.product.price }}</p>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary active">
					<input type="radio" name="options" id="option1" checked>Strong
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option2">Medium
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option3">Mild
				</label>
			</div>
            <div class="row">
				<p>Total</p>
				<p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
			</div>
        </div>
        {% endfor %}
        {% for item in cart_items|slice:"2:3" %}
		<div class="col-sm-3 mt-2 panel-body bordered">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
			</div>
		
			<h3>{{ item.product.name }}</h3>
			<p class="product-description">{{ item.product.description }}</p>
			<p class="font-weight-bold">€{{ item.product.price }}</p>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary active">
					<input type="radio" name="options" id="option1" checked>Strong
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option2">Medium
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option3">Mild
				</label>
			</div>
            <div class="row">
				<p>Total</p>
				<p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
			</div>
            <p><strong>Quantity = {{ item.quantity }}</strong></p>
        {% endfor %}
		</div>
	</div>
	
	<div class="row p-4 d-flex justify-content-center">
    <div class="col contact">
		<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
			
            <legend class="offset-md-3 col-md-6">Payment Details</legend>
	
			<div id="credit-card-errors" style="display: none;">
				<div id="alert-message block-message error" id="stripe-error-message"></div>
			</div>
			<div class="row">
                <div class="col-md-6">
				<div class="form-group">
					{{ order_form | as_bootstrap }}
				</div>
                </div>
                <div class="col-md-6">
				<div class="form-group">
					{{ payment_form | as_bootstrap }}
				</div>
                 </div>
				{% csrf_token %}
				<div>
                <div class="form-group pl-3">
					<input class=" btn btn-warning rounded-1  buynow" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
				</div>
               
			</div>
		</form>
	</div>
    </div>
    {% if messages %}
    <ul class="messages" id="messages">
        {% for msg in messages %}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endblock %}