{% extends 'base.html' %}

{% block page_title %}{{ user}}'s profile{% endblock %}

{% block page_heading %}{{ user }}'s profile{% endblock %}

{% block content %}

<section id="body" style="width: 100%; height: 75vh;" class="d-flex align-content-center justify-content-center bg-light">
	<div class="row productrow bordered d-flex align-content-center justify-content-around m-3">
		<div class="col-lg-3 d-flex justify-content-around">
			<div class="card border-0" style="width: 13rem;">
				<img class="avatar card-img-top" src="{% 'img/gbavatar.png' %}" alt="profile avatar">
				<div class="card-body text-center">
					<h5 class="card-title text-capitalize">Hello, {{ user }}</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="row productbg align-self-center d-flex p-3 rounded border border-dark mb-3">
                <div class="col-6 text-center">
					<img class="rounded" src="{% static 'img/openbox.png' %}" alt="order-image" style="width: 7rem;">
				<div class="col-6">
					<div class="row">
					    <h5 class="mb-0">Your Orders</h5>
					</div>
					<div class="row">
						<p>Track, return or buy things again</p>
					</div>
				</div>
			</div>
			<div class="row productbg offset-3 d-flex p-3 rounded border border-dark mb-3">
				<div class="col-6 text-center">
					<img class="rounded" src="{% static 'img/lock.png' %}" alt="order-image" style="width: 7rem;">
				</div>
				<div class="col-6">
					<div class="row">
					    <h5 class="mb-0">Login and Security</h5>
					</div>
					<div class="row">
						<p>Edit login, name and mobile</p>
					</div>
				</div>
			</div>
        </div>
		<div class="col-lg-3 mb-2">
            <div class="row productbg d-flex p-3 rounded border border-dark mb-3">
				<div class="col-6 text-center">
					<img class="avatar rounded" src="{% static 'img/cardpayment.png' %}" alt="order-image" style="width: 7rem;">
				</div>
				<div class="col-6">
					<div class="row">
					    <h5 class="mb-0">Payment Options</h5>
					</div>
					<div class="row">
						<p>Edit or add payment options</p>
					</div>
				</div>
			</div>
			<div class="row productbg d-flex p-3 rounded border border-dark mb-1">
				<div class="col-6 text-center">
					<img class="rounded" src="{% static 'img/droppin.png' %}" alt="order-image" style="width: 7rem;">
				</div>
				<div class="col-6">
					<div class="row">
					    <h5 class="mb-0">Your Address</h5>
					</div>
					<div class="row">
						<p>Edit Address and Delivery Preferences</p>
					</div>
				</div>
			</div>
		</div>
        <div class=".d-none d-sm-none d-md-none d-lg-block col-lg-3 mb-1"></div>
	</div>
</section>

{% endblock %}
