{% load staticfiles %}
<html>
	<head>
		<title>{% block page_title %}{% endblock %} </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Amaranth:700&display=swap" rel="stylesheet">
	</head>
    <body>   
	<nav class="navbar navbar-expand-lg navbar-custom">
		<a class="navbar-brand" href="{% url 'home' %}"><img
                        src="{% static 'img/logo.png' %}" alt="goodbean logo"></a></a>
		<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	    </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item pr-3">
					<a class="nav-link gbnavlinks" href="{% url 'products' %}">Products <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item pr-3">
					<a class="nav-link gbnavlinks" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item pr-3">
					<a class="nav-link gbnavlinks" href="#">Reviews <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item pr-3">
					<a class="nav-link gbnavlinks" href="{% url 'contact' %}">Contact <span class="sr-only">(current)</span></a>
				</li>
			</ul>            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle gbnavlinks" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false">My Account</a>
					<div class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item gbnavlinks" href="{% url 'profile' %}">Profile</a>
						<a class="dropdown-item gbnavlinks" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="dropdown-item gbnavlinks" href="{% url 'login' %}">Login</a>
						<a class="dropdown-item gbnavlinks" href="{% url 'registration' %}">Register</a>
                    {% endif %}
					</div>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">
                            <i class="fas fa-shopping-cart"></i>
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                </li>
			</ul>
            <form  action="{% url 'search' %}" method="get" class="form-inline d-flex my-2 my-lg-0" >
                    <input class="form-control gbnavlinks text-capitalize border-1 border-dark rounded-0 mr-0" name="q" type="search" placeholder="Product Search" aria-label="Search">
                    <button type="search" class="gbnavlinks btn btn-warning btn-sm rounded-0 buynow text-white-50 font-weight-normal">Search</button>
            </form>
		</div>
	</nav>
   
    {% if messages %}
    <ul class="messages" id="messages">
        {% for msg in messages %}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
   
    {% endif %}
    {% block content %}{% endblock %}
    <footer>
        <div class="container-fluid footer-wrap">
            <div class="row">
                <div class="col-md-4 p-3 my-2">
                    <div class="container border-top">
                        <h5 class="text-uppercase text-warning py-3">Links</h5>
                        <ul class="list-group footer-wrap">
                            <li class="footer-wrap border-0 list-group-item"><a class="footer-anchor gbnavlinks" href="{% url 'about' %}">About</a></li>
                            <li class="footer-wrap border-0 list-group-item"><a class="footer-anchor gbnavlinks" href="{% url 'contact' %}">Contact</a>
                            </li>
                            <li class="footer-wrap border-0 list-group-item"><a data-toggle="modal" data-target="#termsandcons" class="footer-anchor gbnavlinks" href="">Terms and
                                    Conditions</a></li>
                            <li class="footer-wrap border-0 list-group-item"><a data-toggle="modal" data-target="#privacy" class="footer-anchor gbnavlinks" href="">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-4 p-3 my-2">
                    <div class="container border-top">
                        <h5 class="text-uppercase text-warning py-3">Find Us</h5>
                        <div id="map"></div>
                    <h5 class="pt-3 text-white gbnavlinks"><span class="pr-2"><i class="fas fa-map-marker-alt"></i></span>
                        7 Sarsfield Street,
                        Limerick, Ireland</h5>
                    </div>
                </div>
                <div class="col-md-4 p-3 my-2">
                    <div class="container border-top">
                        <h5 class="text-uppercase text-warning py-3">Newsletter</h5>
                        <form class="mb-3">
                            <div class="input-group mb-2">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    placeholder="Email Address" aria-describedby="emailHelp">
                                <div class="input-group-append">
                                    <button type="submit" class="bg-warning input-group-text"><i
                                            class="far fa-envelope"></i></button>
                                </div>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                anyone else.</small>
                        </form>

                    </div>
                    <div class="container border-top">
                        <h5 class="text-uppercase text-warning py-3">Get in Touch</h5>
                        <div class="pb-2">
                            <a class="footer-anchor gbnavlinks text-lowercase" href="{% url 'contact' %}"><span><i class="far fa-envelope"></i></span>
                                goodbean@enquiries.com</a>
                        </div>
                        <div>
                            <a class="footer-anchor gbnavlinks" href="{% url 'contact' %}"><span><i class="fas fa-phone-square"></i></span> +353 61
                                811 1000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-6 mb-2 d-flex justify-content-center justify-content-md-start">
                <a class="m-2 foottitle" href="#">Goodbean</a>
            </div>
            <div class="col-md-6">
                <div class="row d-flex justify-content-around social">
                    <a href="http://www.instagram.com" target="_blank" class="col-md4 footer-anchor"><i class="fab fa-instagram"></i></a>
                    <a href="http://www.facebook.com" target="_blank" class="col-md4 footer-anchor"><i class="fab fa-facebook"></i></a>
                    <a href="http://www.twitter.com" target="_blank" class="col-md4 footer-anchor"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Terms and Conditions Modal -->

	<div class="modal fade" id="termsandcons" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="termsandcons">Terms and Conditions</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	                </button>
				</div>
				<div class="modal-body">
					Terms and conditions of Purchase are covered <a
						href="https://www.examinations.ie/about-us/Standard_Conditions_of_Purchase.pdf" target="_blank">here</a>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>
			</div>
        </div>
    </div>

    <!-- Privacy Modal -->

    <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacy"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-dark text-white">
					<h5 class="modal-title" id="privacy">Terms and Conditions</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span class="text-white" aria-hidden="true">&times;</span>
	                </button>
				</div>
				<div class="modal-body bg-dark text-white">
					Privacy laws are covered <a
						href="https://europa.eu/european-union/abouteuropa/privacy-policy_en" target="_blank">here</a>
				</div>
				<div class="modal-footer bg-dark text-white">
					<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>
			</div>
        </div>
    </div>

</div>
    <script src="{% static 'js/goodbean.js' %}"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6etlDYcdgdAEGITZImc88e0HwHz_hzDs&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block head_js %}
	{% endblock head_js %}
    
    </body>
</html>