  
{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="mb-0 jumbotron reviewlanding">
</div>

<section class="mt-3 d-flex justify-content-center">
	    <div class="row justify-content-center">
			<div class="col-md-4">
				<h2 class="text-dark text-center">Our Mission</h2>
				<p> We are customer driven business with the sole focus of delivering the highest quality product from wherever that
					might be in the world. In order to achieve this we rely on your valuable feedback. We change our product based on
					the quality and your influence over this is key to our business. Please review our products to help us in our goal
					to being the worlds best coffee bean provider.
				</p>
			</div>
			<div class="col-md-4 justify-content-center">
				<img class="reviewimg1" src="{% static 'img/beansinhands.jpg' %}" alt="beans in hands">
			</div>
		</div>
</section>

<secion class="container-fluid">
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <h3 class="text-center">{{ product.name }}</h3>
                            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
						    </div>
                        </div>
                        <div class="justify-content-center d-flex"><a class="buynow rounded-pill p-2 font-weight-bold" href="{% url 'detail' product.pk %}">Read More</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div class="mb-0 jumbotron reviewlanding">
</div>


{% endblock %}