{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ products.image }}')">
					</div>
                </div>
                <div class="col-md-8">
                    <h5 class="text-center">{{ products.name }}</h5>
                    <p class="text-center">{{ products.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}