  
{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">{{ product.name }}</h3>
                            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
						    </div>
                        </div>
                        <a href="{% url 'detail' product.pk %}">Read More</a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}